  <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text text-center ">
                        <h4>Edit Category</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class=" gradient-custom  ">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card  text-white" style="border-radius: 1rem; background-color:white">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-dark">Add Category</h2>
                    <form action="/admin/edit-category" method="post">
                     <p class="text-danger">{{error}}</p>
                     <input type="number" value="{{category._id}}" style="height: 0px; visibility:hidden" name="_id">
                      <div class="form-outline text-start form-dark mb-4 ">
                        <label class="form-label text-dark">Add new category</label>
                      <input type="text"  class="form-control  form-control-lg rounded-0 border-1" name="category"  value="{{category.category}}"/>
                    </div>
                    <button type="submit" class="site-btn">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 