
<div class="nav-section">
        <div class="container-fluid nav_bar">
            <div class="row">
              <div class="col-md-4">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand text-white" href="#">TIMED</a>
                </nav>
              </div>
              <div class="col-md-4">
                  <div class="form-floating mt-3">
                     <h4 class="text-white">Admin panel</h4>
                    </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end gap-5  icons">
                  <i class="bi bi-box-arrow-right"></i>
                  <i class="bi bi-person-fill"></i>
      
              </div>
            </div>
          </div>
      </div>
<form action="/admin/addProduct" method="post" class=" product-add container d-flex flex-column w-50 text-dark"  >
    <H3 class="text-center ">Add Products</H3>
    <p class="text-center text-danger">{{error}}</p>
    <label for="">Product  name</label>
    <input type="text" name="name" class="namefield text-dark">      
    <label for="">Product Category</label>
    <select name="category" id="" class="dropdown">
        {{#each categories}}
        <option value={{this.category}}>{{this.category}}</option>
        {{/each}}
    </select>
    <div class="pro-img-qua d-flex justify-content-around">
       <div class="qua"> <label for="">Quantity</label>
    <input type="number" name="quantity" class="namefield text-dark">
    </div>
    <div class="price">
       <div class="qua"> <label for="">Price</label>
    <input type="number" name="price" class="namefield text-dark">
    </div>
    </div>
  </div>
    </div>
    <label for="" class="ms-4">Choose Image:</label>
  <input type="file" name="product" class="namefield ms-4 text-dark"/ accept="image/png, image/jpeg, image/jpg, image/webp">
<p class="text-danger">{{err}}</p>

  <label for="" class="ms-4">Choose Another  Image:</label>
  <input type="file" name="subImages" multiple class="namefield ms-4 text-dark"  accept="image/png, image/jpeg, image/jpg, image/webp"/>
  <label for="">Description</label>
    <input type="text" name="description" class="namefield text-dark"> 
  <button type="submit" class="btn btn-dark text-white">Add</button>
</form>