<div class="nav-section">
        <div class="container-fluid nav_bar">
            <div class="row">
              <div class="col-md-4">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand text-white" href="#">TIMED</a>
                </nav>
              </div>
              <div class="col-md-4">
                  <div class="form-floating mt-3">
                     <h4 class="text-white">Admin panel</h4>
                    </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end gap-5  icons">
                  <i class="bi bi-box-arrow-right"></i>
                  <i class="bi bi-person-fill"></i>
      
              </div>
            </div>
          </div>
      </div>
<div class="admin-section">
       <div class="sidebar p-4 ps-0 text-center">
   <a href="/admin/" style="color:#51624F">Dashboard</a>
   <a href="/admin/category">Categories</a>
    <a href="/admin/product" style="color:black">Products</a>
    <a href="/admin/user" style="color:black">Users</a>
    <a href="/admin/banner" style="color:black">Banners</a>
    <a href="/admin/orders" style="color:black">Orders</a>
    <a href="/admin/coupons" style="color:black">Coupons</a>
    <a href="/admin/banned" style="color:black">Banned Users</a>
</div>
   
       
</div>