body{
    background-color: #23242D !important;
}

.title h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

form-outline, input, label, p {
    color: white !important;
}