<div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="header__logo">
                        <h3 class="text-dark" style="font-weight: bolder;">TIMED</h3>
                    </div>
                </div>    
            </div>

<section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact__text">
                        <div class="section-title">
                            <h2>Log In</h2>
                        </div>
                        <div>
                            <p class="text-danger">{{error}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="contact__form">
                        <form action="/login" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <input type="email" placeholder="Email" name="email" style="width: 50%;">
                                </div>
                                <div class="col-12">
                                    <input type="password" placeholder="Password" name="password" style="width: 50%;">
                                </div>
                                <div class="col-6 text-center">
                                     <p class="small mb-2 pb-lg-2"><a class="text-primary-50 fw-bold" href="/forgotpassword">Forgot password?</a></p>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="site-btn">Log In</button>
                                </div>
                                <div class="col-6 text-center">
                                     <p class="mt-3">Dont have an account? <a href="/signup" class="text-primary-50 fw-bold">Sign Up</a>
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>