{{!-- <h1 class="text-center">Order Placed {{#if failed}}failed{{else}} successfully{{/if}}</h1> --}}

<!-- Topbar Start -->
<!-- Topbar End -->
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{#if failed}}/img/cross.png{{else}}/img/tick.jpeg{{/if}}" alt="" width="70" height="60">
    <h3 class="display-8 fw-bold">Order Placed {{#if failed}}failed{{else}} successfully{{/if}}</h3>
    <img class="d-block mx-auto mb-4" src="{{#if failed}}/img/order-failed.png{{else}}/img/hurray.jpeg{{/if}}" alt="" width="90" height="80">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Thank you for your purchase!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn btn-lg px-4 gap-3 " style="background-color:#fc0c7f"><a href="/"
                    style="text-decoration:none;color:white;">CONTINUE SHOPPING</a></button>
        </div>
    </div>
</div>